
@{
    ViewBag.Title = "HTML";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container-fluid">
    <div>
        <h1>@ViewBag.Title Introduction</h1>
        <p> HTML is a computer language devised to allow website creation. These websites can then be viewed by anyone else connected to the Internet. It is relatively easy to learn, with the basics being accessible to most people in one sitting; and quite powerful in what it allows you to create.</p>
        <form role="form" style="width:80%">
            <div class="form-group">
                <label for="usr">Example Name:</label>
                <input type="text" class="form-control" id="usr">

                <label for="comment">Post your code:</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
                <input type="submit" id="formSubmit" value="Submit" />
            </div>
        </form>

    </div>
    <hr />
    <div>
        <h1>@ViewBag.Title Examples:</h1>
        <br />
        

    </div>




</div>


