@{
    ViewBag.Title = "Ado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/app/content/controller.js"></script>
<script src="~/Scripts/app/content/customdirective.js"></script>
<script src="~/Scripts/app/content/model.js"></script>
<script src="~/Scripts/app/content/service.js"></script>
<div class="row">
    <div class="col-md-12 col-sm-6 col-xs-6">
        <div class="panel panel-back noti-box">
            <span class="icon-box bg-color-red set-icon">
                <i class="fa fa-envelope-o"></i>
            </span>
            <div class="text-box">
                <p class="main-text"><a href='@(Url.Action("editor", "Admin"))' style="color:black!important">Feedback</a></p>

                <p class="text-muted">Messages</p>
            </div>
        </div>
    </div>

</div>
<div class="row" ng-controller="ContentCtrl">
    <div class="col-md-3 col-sm-6 col-xs-6" ng-repeat="contentStat in contentStats">

        <content-details obj="contentStat"></content-details>

        @*<div class="panel panel-back noti-box">
                <span class="icon-box bg-color-green set-icon">
                    <i class="fa fa-bell-o"></i>
                </span>
                <div class="text-box">
                    <p class="main-text">HTML</p>
                    <p class="text-muted">6</p>

                </div>
            </div>*@
    </div>

</div>

