
@{
    ViewBag.Title = "webApi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>webApi</h2>

<div class="container-fluid">
    <div>
        <h1>@ViewBag.Title Introduction</h1>

    </div>
    <hr />
    <div>
        <h1>@ViewBag.Title Examples:</h1>
        <br />


    </div>




</div>
