@{
   
    Layout = null;
}

<div class="panel panel-back noti-box" style="background-color:aliceblue;">
    <form role="form">
        <div class="form-group">
           <strong> Name: </strong>{{articleobj.Title}}
            <br />
            
            <strong>Description:</strong><p>{{articleobj.Description}}</p>

            <input type="button" id="formSubmit" value="Click For Sample Code" onclick="saveArticle()" class="btn btn-success" />
        </div>
    </form>
</div>
  




