@{
    Layout = null;
}

<div class="panel panel-back noti-box">
    <span class="icon-box bg-color-green set-icon">
        <i class="fa fa-bell-o"></i>
    </span>
    <div class="text-box">
        <p class="main-text">{{obj.Name}}</p>
        <p class="text-muted">{{obj.Value}}</p>

    </div>
</div>
